body {
  background-color: black;
  height: 100vh;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0);
  opacity: 0.3;
  animation: ripple-animation 0.6s ease-out forwards;
}

@keyframes ripple-animation {
  to {
    transform: scale(20);
    opacity: -0.9;
  }
}
